<div class="aboutPage">

    <p>I am a well-rounded individual who loves to learn and create. After graduating from Michigan State University, I moved to Thailand to teach English at technical school for people with physical disabilities. This was when I first discovered my affinity
        for working with technology and web development. Since my time in Thailand I maintained an interest in web development, until finally deciding to enroll at Grand Circus Developer Bootcamp in Detroit. I was drawn to Grand Circus because of their
        intense full-immersion curriculum, and their pride in teaching their students to be well-rounded developers. I completed their Front-End Development program on March 24th with a great understanding and implementation of HTML, CSS, Javascript,
        and more. Since my first day at Grand Circus I have significantly molded and cultivated my passion for web development. I am able to learn in a fast-paced environment, create whatever I can imagine, and implement relevant industry material on
        a daily basis.
          <!-- <h3><a href="https://www.linkedin.com/in/joshua-bergers/">LinkedIn Page</a></h3>
          <h3><a href="https://github.com/bergersj">GitHub</a></h3> -->
    </p>
    <img src="img/JoshGCpic.jpg" id="facepic" alt="Josh Bergers">
</div>
