<div class="item active">
  <img src="img/privyImage.png" alt="Privy">
  <a href="https://project-privy.herokuapp.com/#/">
    <h3><span>Privy</span></h3>
    <p><span>As a final project for Grand Circus Front-End Bootcamp, Privy is a bathroom finder and review application. Privy utilizes google maps api to geo-locate the user, and pinpoint the nearest bathrooms. Privy also provides the user with access to the bathroom type, location details, and previous user reviews.<span></p>
</a>
</div>


<div class="item">
  <img src="img/biondes.jpg" alt="Biondes">
  <a href="https://bergersj.github.io/biondes/">
    <p>Biondes is a small locally owned pizza and sub shop. Arguably the best pizza in Detroit, I created them a simple brochure website using mainly basic HTML and CSS. Owner is old-school and classic, so I wanted the site to keep true to what they do and their product.</p>
</a>
</div>
